body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: darkslateblue;
    width: 100vw;
    height: 100vh;
    -webkit-user-select: none;
    user-select: none;
    -moz-user-select: none;
}

.container {
    width: 100vw;
    height: 100vh;
    display: grid;
    position: absolute;
    place-items: center;
}

canvas {
    display: block;
    box-shadow: 1px 2px 5px black;
}

#p5_loading {
    font-weight: bold;
    color: white;
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
}

#music, #pause {
    position: absolute;
    top: 0;
    left: 0;
    margin: .5rem 1rem;
    font-size: 2rem;
    color: lightblue;
    cursor: pointer;
    filter: brightness(0.8);
    transition: 200ms;
}

#pause {
    left: unset;
    right: 0;
}

#music:hover, #pause:hover {
    filter: brightness(0.9);
}

#music:active, #pause:hover {
    filter: brightness(1);
}


.modal {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    display: grid;
    place-items: center;
}

.modal > img {
    width: 50%;
    animation: flip 1.5s ease-out infinite;
}

@keyframes flip {
    from { transform: rotate(0); }
    to { transform: rotate(-50deg); }
}


.hidden {
    display: none;
}


